<ion-view title="Fit Test " id="page5">
  <ion-content padding="true" class="has-header">
    <video width="400" controls>
  <source ng-src="http://laravel.andrewsouthwick.com/01%20-%20Fit%20Test.MP4" type="video/mp4">
</video>
    <form id="fitTest-form1" class="list">
      <label class="item item-input" id="fitTest-input3" name="switchkicks">
        <span class="input-label">Switch Kicks</span>
        <input type="text" placeholder="Switch Kicks">
      </label>
      <label class="item item-input" id="fitTest-input4" name="powerjacks">
        <span class="input-label">Power Jacks</span>
        <input type="text" placeholder="Power Jacks">
      </label>
      <label class="item item-input" id="fitTest-input2" name="powerknees">
        <span class="input-label">Power Knees</span>
        <input type="text" placeholder="Power Knees">
      </label>
      <label class="item item-input" id="fitTest-input5" name="powerjumps">
        <span class="input-label">Power Jumps</span>
        <input type="text" placeholder="Power Jumps">
      </label>
      <label class="item item-input" id="fitTest-input6" name="suicidejumps">
        <span class="input-label">Suicide Jumps</span>
        <input type="text" placeholder="Suicide Jumps">
      </label>
      <label class="item item-input" id="fitTest-input7" name="pushupjacks">
        <span class="input-label">Push Up Jacks</span>
        <input type="text" placeholder="Push Up Jacks">
      </label>
      <label class="item item-input" id="fitTest-input8" name="lowplankobliques">
        <span class="input-label">Low Plank Obliques</span>
        <input type="text" placeholder="Low Plank Obliques">
      </label>
       <label class="item item-input" id="fitTest-input8" name="submit">
        <input type="button" name="submit" value="Submit" class="button button-calm">
      </label>
    </form>
  </ion-content>
</ion-view>